Package: Axiom
Version: 1.0-1
Section: base
Priority:
Architecture: amd64
Depends:
Maintainer: A.Aly
Description: Axiom project debian/ubuntu package
 Made to easily copy and install during simulations
